<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>my_class_list</key>
	<string>class/my-class</string>
	<key>change_user_password</key>
	<string>user/change-user-password</string>
	<key>Material_of_class</key>
	<string>material/fetch_class_material_list</string>
	<key>Material_Delete</key>
	<string>material/delete</string>
	<key>Upload_Material</key>
	<string>material/save</string>
	<key>Fetch_class_Tasklist</key>
	<string>task/fetch_class_task_list</string>
	<key>Task_Delete</key>
	<string>task/delete</string>
	<key>Task_Status_Change</key>
	<string>task/change_task_status</string>
	<key>Task_Create</key>
	<string>task/save</string>
	<key>Event_Edit</key>
	<string>event/edit</string>
	<key>Event_Create</key>
	<string>event/save</string>
	<key>Fetch_Class_list</key>
	<string>event/fetch_class_list</string>
	<key>Class_Edit</key>
	<string>class/edit</string>
	<key>Class_Create</key>
	<string>class/save</string>
	<key>User_Registration</key>
	<string>user/register</string>
	<key>logout</key>
	<string>user/logout</string>
	<key>request_newpassword</key>
	<string>user/request_new_password</string>
	<key>login_parameters</key>
	<string>user/login</string>
	<key>Edit_teacher_profile</key>
	<string>user/edit-user-profile</string>
	<key>Edit_student_profile</key>
	<string>user/edit-user-profile</string>
</dict>
</plist>
